
.profile-box-text, .group-profile-text{
    width: 60%;
}

.container-data {
    width: 75%;
}

.input-data {
    outline: none;
    cursor: url(https://icons.getbootstrap.com/assets/icons/pencil-fill.svg) 15 15, auto;
}

@media (max-width: 992px) {
    .container-data {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .profile-box-text, .group-profile-text {
        width: 100%;
    }
}